.mobile__banner{
    display: none;
}
.product-count__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
}
.pc-ft-size{
    font-size: .9rem;
}
.product--bold{
    font-weight: 600;
}
.product-count{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.product-count--font{
    color: #ABA8A3;
}
.layout-icon-size{
    height: 50px;
    width: 50px;
}
.layout-icon__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
.layout-icon__wrapper{
    display: none;
}


@media screen and (max-width:726px) {
    .layout-icon__wrapper{
        display: flex;
    }
    .pc-ft-size{
        font-size: 1.5rem;
    }
    .product-count__wrapper{
        width: 50%;
    }
    .mobile__banner{
        display: block;
        width: 100%;
        height: 25%;
    }
}

